.fixedBG {
  background: url('../images/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* fixed */
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
/* Navbar */
.navBar
{
  cursor: pointer;
  border-bottom: 3px solid #00d9ff;
  background-color: rgba(0,0,0,0.8);
  height: 40px;
  color: #ffffff;
  border-radius: 0px 0px 15px 15px;
  width: 95%;
  margin: auto;
}
.navMenu {
  padding-top: 6px;
  padding-right: 8%;
  padding-left: 8%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-variant: small-caps;
}
.navMenu div:hover, .sideMenu div:hover {
  color: #ffffff;
}
.Profile {
  padding: 6px 15px 0px 15px;
  font-variant: small-caps;
  font-size: bold;
  color: #00d9ff;
  text-align: center;
}
.Burger {
  display: none;
  padding: 6px 15px 0px 15px;
  right: 0px;
  color: #ffffff;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.floater{
  position: fixed;
  width: 100%;
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 600px)
{
    #navMenu{
        display: none;
    }
    #Burger{
        display: block;
    }
}
@media (min-width: 600px)
{
    .sideMenu{
      display: none !important;
    }
}
/* Cards and SideBar */

.sideMenu{
  border-left: 2px solid #00d9ff;
  background-color: rgba(0,0,0,0.8);
  top: 0px;
  right: -300px;
  position: absolute;
  height: 100vh;
  width: 35%;
  color: #999999;
  font-variant: small-caps;
}
.sideMenu div{
  margin-left: 15px;
  margin-top: 25px;
  font-size: 20px;
}
.sideMenu .closeSideMenu {
  list-style: none;
  position: absolute;
  left: -60px;
  background-color: red;
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
  padding: 5px 12px 5px 12px;
  color: white;
}
.slideIn{
  right: -50px;
  animation: slideIn 1s forwards;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  -o-animation: slideIn 1s forwards;
  -ms-animation: slideIn 1s forwards;
}
@keyframes slideIn {
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}
@-moz-keyframes slideIn{
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}
@-webkit-keyframes slideIn{
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}
@-o-keyframes slideIn{
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}
@-ms-keyframes slideIn{
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}

.slideOut{
  right: 0px;
  animation: slideOut 1s forwards;
  -webkit-animation: slideOut 1s forwards;
  -moz-animation: slideOut 1s forwards;
  -o-animation: slideOut 1s forwards;
  -ms-animation: slideOut 1s forwards;
}
@keyframes slideOut {
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
@-moz-keyframes slideOut{
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
@-webkit-keyframes slideOut{
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
@-o-keyframes slideOut{
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
@-ms-keyframes slideOut{
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
.CallCard{
  display: none;
  border: 1px solid rgba(0, 238, 255, 0.8);
  background-color: rgba(0,0,0,0.9);
  border-radius: 10px;
  position: absolute;
  top: 40px;
  padding: 5px;
  width: 350px;
  color: #ffffff;
  font-size: small;
}
.Prof_Pic{
  float: left;
  border-radius: 15%;
  height: 100px;
  width: 100px;
  padding: 5px;
  margin-right: 5px;
}
.closeCallCard {
  padding-right: 10px;
  padding-left: 10px;
  color: rgb(255, 34, 34);
  font-weight: bolder;
}
.Breathing{
  animation: Breathing 4s infinite;
  -webkit-animation: Breathing 4s infinite;
  -moz-animation: Breathing 4s infinite;
  -o-animation: Breathing 4s infinite;
  -ms-animation: Breathing 4s infinite;
}
@keyframes Breathing {
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}
@-moz-keyframes Breathing{
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}
@-webkit-keyframes Breathing{
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}
@-o-keyframes Breathing{
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}
@-ms-keyframes Breathing{
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}

.Fadein{
  animation: Fadein 2s;
  -webkit-animation: Fadein 1s ease-in;
  -moz-animation: Fadein 1s ease-in;
  -o-animation: Fadein 1s ease-in;
  -ms-animation: Fadein 1s ease-in;
}
@keyframes Fadein {
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
@-moz-keyframes Fadein{
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
@-webkit-keyframes Fadein{
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
@-o-keyframes Fadein{
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
@-ms-keyframes Fadein{
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}

.Directing {
  text-align: center;
  animation: Directing 2s;
  -webkit-animation: Directing 2s infinite;
  -moz-animation: Directing 2s infinite;
  -o-animation: Directing 2s infinite;
  -ms-animation: Directing 2s infinite;
}
.Directing span{
  font-variant: small-caps;
  font-size: small;
  vertical-align: middle;
}
@keyframes Directing {
  0% {transform: translateY(-20px);}
  50% {transform: translateY(0px);}
  100% {transform: translateY(-20px);}
}
@-moz-keyframes Directing{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes Directing{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes Directing{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-ms-keyframes Directing{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* For Scroll-Revealing Function */
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom-scroll {
  animation: fade-bottom-scroll 1.5s;
  -webkit-animation: fade-bottom-scroll 1.5s;
  -moz-animation: fade-bottom-scroll 1.5s;
  -o-animation: fade-bottom-scroll 1.5s;
  -ms-animation: fade-bottom-scroll 1.5s;
}
.active.fade-left-scroll {
  animation: fade-left-scroll 1.5s;
  -webkit-animation: fade-left-scroll 1.5s;
  -moz-animation: fade-left-scroll 1.5s;
  -o-animation: fade-left-scroll 1.5s;
  -ms-animation: fade-left-scroll 1.5s;
}
.active.fade-right-scroll {
  animation: fade-right-scroll 1.5s;
  -webkit-animation: fade-right-scroll 1.5s;
  -moz-animation: fade-right-scroll 1.5s;
  -o-animation: fade-right-scroll 1.5s;
  -ms-animation: fade-right-scroll 1.5s;
}
/* Bottom */
@keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-moz-keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-webkit-keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-o-keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-ms-keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

/* Left */
@keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-moz-keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-webkit-keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-o-keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-ms-keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
/* Right */
@keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-moz-keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-webkit-keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-o-keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-ms-keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
/* Content section */
.Contenthead {
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 3%;
}
.Contenthead h1{
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 2%;
  color: #00d9ff;
  text-shadow: 5px 2px 2px #000000;
}
.Contenthead h5{
  border: 1px solid #00d9ff;
  background-color: rgba(0,0,0,0.3);
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 55%, rgba(0, 183, 255, 0.1));
  margin: 5%;
  border-radius: 20px;
  text-align: center;
}
.Contenthead h5 ul{
  list-style-type: none;
  padding: 3%;
}
.Contenthead h5 ul li {
  padding-bottom: 3%;
}

@media (max-width: 800px)
{
    .Contenthead h5 ul{
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .Contenthead h5 ul li{
        padding-bottom: 5%;
    }
}
footer {
  bottom: 0px;
  color: #8a8a8a;
  font-size: 16px;
  margin-top: 5%;
  padding-bottom: 3px;
  padding-left: 2px;
  background: #242424;
}

/* Entering Page */
.EnlargePage {
  z-index: 1;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.EnlargeAction {
  border: 2px solid #00d9ff;
  border-radius: 50%;
  background: #000000;
}

.Enlarging {
  background-image: url('../images/bg.jpg');
  background-attachment: fixed; /*important*/
  background-size: cover;
  background-position: center center;
  animation: Enlarging 1.5s;
  -webkit-animation: Enlarging 1.5s;
  -moz-animation: Enlarging 1.5s;
  -o-animation: Enlarging 1.5s;
  -ms-animation: Enlarging 1.5s;
}
@keyframes Enlarging {
  0% { height: 0%; width: 0%; }
  100% { height: 200%; width: 200%; border-radius: 0%; border: 2px solid black;}
}
@media (max-width: 601px)
{
  .cyberArea {
    font-size: 30px;
  }
  .smalltext {
    font-size: 20px;
  }
  .Digital {
    font-size: 30px;
  }
  footer {
    font-size: 15px;
    padding-left: 12px;
  }
}