/* 
#272829 background
#4c4d4e faded text
#61677A border
#D8D9DA text
#cccccc
 */
 html {
  scroll-behavior: smooth;
 }
.fixedBG {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 153.4 86.4' style='enable-background:new 0 0 153.4 86.4;' xml:space='preserve'%3E%3Cimage style='overflow:visible;' width='639' height='360' xlink:href='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEBLAEsAAD/4QBWRXhpZgAATU0AKgAAAAgABAEaAAUAAAABAAAAPgEbAAUA%0AAAABAAAARgEoAAMAAAABAAIAAAITAAMAAAABAAEAAAAAAAAAAAEsAAAAAQAAASwAAAAB/+0ALFBo%0Ab3Rvc2hvcCAzLjAAOEJJTQQEAAAAAAAPHAFaAAMbJUccAQAAAgAEAP/hDW5odHRwOi8vbnMuYWRv%0AYmUuY29tL3hhcC8xLjAvADw/eHBhY2tldCBiZWdpbj0n77u/JyBpZD0nVzVNME1wQ2VoaUh6cmVT%0Aek5UY3prYzlkJz8+Cjx4OnhtcG1ldGEgeG1sbnM6eD0nYWRvYmU6bnM6bWV0YS8nIHg6eG1wdGs9%0AJ0ltYWdlOjpFeGlmVG9vbCAxMS44OCc+CjxyZGY6UkRGIHhtbG5zOnJkZj0naHR0cDovL3d3dy53%0AMy5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyc+CgogPHJkZjpEZXNjcmlwdGlvbiByZGY6%0AYWJvdXQ9JycKICB4bWxuczp0aWZmPSdodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyc+CiAg%0APHRpZmY6UmVzb2x1dGlvblVuaXQ+MjwvdGlmZjpSZXNvbHV0aW9uVW5pdD4KICA8dGlmZjpYUmVz%0Ab2x1dGlvbj4zMDAvMTwvdGlmZjpYUmVzb2x1dGlvbj4KICA8dGlmZjpZUmVzb2x1dGlvbj4zMDAv%0AMTwvdGlmZjpZUmVzb2x1dGlvbj4KIDwvcmRmOkRlc2NyaXB0aW9uPgoKIDxyZGY6RGVzY3JpcHRp%0Ab24gcmRmOmFib3V0PScnCiAgeG1sbnM6eG1wPSdodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv%0AJz4KICA8eG1wOkNyZWF0b3JUb29sPkFkb2JlIFN0b2NrIFBsYXRmb3JtPC94bXA6Q3JlYXRvclRv%0Ab2w+CiA8L3JkZjpEZXNjcmlwdGlvbj4KCiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0nJwog%0AIHhtbG5zOnhtcE1NPSdodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vJz4KICA8eG1wTU06%0ARG9jdW1lbnRJRD54bXAuaWlkOjdjMzM4OTkwLWY1YmQtNDExNi1hOWE1LTM2ZjlmM2U2MDU1Yzwv%0AeG1wTU06RG9jdW1lbnRJRD4KICA8eG1wTU06SW5zdGFuY2VJRD5hZG9iZTpkb2NpZDpzdG9jazo0%0AODE4MDRiZS04N2Y5LTRhZDEtYjk5ZS1jYTliOTZlNDE2NzM8L3htcE1NOkluc3RhbmNlSUQ+CiAg%0APHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD5hZG9iZTpkb2NpZDpzdG9jazo1MDQ1NDUxMDY8L3ht%0AcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD4KIDwvcmRmOkRlc2NyaXB0aW9uPgo8L3JkZjpSREY+Cjwv%0AeDp4bXBtZXRhPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAK%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAo8P3hwYWNrZXQgZW5kPSd3%0AJz8+/9sAQwAFAwQEBAMFBAQEBQUFBgcMCAcHBwcPCwsJDBEPEhIRDxERExYcFxMUGhURERghGBod%0AHR8fHxMXIiQiHiQcHh8e/8AACwgBaAJ/AQERAP/EABsAAQEBAQEBAQEAAAAAAAAAAAABAgMEBQYI%0A/8QANRABAQABAgMFBgQGAwEBAAAAAAECAxEEITESQVFTkgUTIjNysSNSYaEyQnGRouFDYoHBgv/a%0AAAgBAQAAPwD+Vdb52p9V+7AAAAiIMpsmzNj6nsT2peFs0Ne26F6X8n+n6bGzLGZY2WXpYrNvcjNr%0ALNrO6bsvNxvD4a+n4ZzpXxtTDLTzuGc2sZACNBIrUWRRZAslm15uGeF07v8Ay+JjW8a3i1KsimxI%0AbM7GzNjFjO23PvfR4Hi+3Pd6l+Puvi9iIm6ICUkSosg+VrfO1Pqv3YAAABETYRmxNmdn1PYntS8L%0AlNDXtujbyv5f9P0kzmWMuNllm8sGbWWbWd03Z3S3Zl5+L4fHXw8M50r5Gphlp53DObWMgRqBIsai%0AyKLAaxi2Szazk82pp3C8ucMa3K3i1KqyKmxsljOydlmxiznyfQ4Liu3Pd6l+Puvi9SbogIQQkB8r%0AW+dqfVfuwAAAAgmyIzsljNj6Xsb2neFymjrW3Rt5X8v+n6OZTLGXGy43pZ3ozazulrNqW7Mpuy8/%0AFaGOtj4ZTpXy9TDLDK45TaxkagRVjUiiyA1jFU2lllm8ry6undO79cb3mNdMa1K3GpRZDZE2Sxmx%0Am4sWPdwfE9r8PUvxd18XpQEIIQFj5Ot87U+q/dgAAAAQTZE2TZnZmx9H2R7Sy4XL3OrbdG9L+X/T%0A9BMpljMsbLL0s703TdndLdmU3ZZtRx4nRx1sOfLKdK+ZnhlhlccptYQIosairAaxiqsDsyyyzePN%0Aq6d0rv1x8WccnTGtytRrFoNkTY2YsZuLFxevhOI7X4epfi7r4vUJuSG6EAWV8nW+dqfVfuwAAAAC%0AbCImybM7M2Pf7K9oZcNfdatt0b/i+/jljljMsbLLzliWpbsym7LNqIjjxGljq4+GXdXz88csMrjl%0ANrEiiyKRuA1jFVYLIshZLLLN5Xk1tK6V3nPHuTGumNbxrUqytwNjZNmdksYsYuPe9fC8R2vg1L8X%0AdfF6CG6EAE6vl63ztT6r92AAAAAE2ETZNk2ZsZse72Xx+XDX3WpbdK/4vuzKXGZY2WXpYibss2oi%0Abpuy5a2lNTHa9e6vHljcMrjZtYysiiyKs5tYxVWCyLIqyFksss3lePW0rpXec8fHwTCt41uVvFqL%0AK1BNjZmxnss3Fzyxenhdff4NS8+6+L0oQATqr5Wt87U+q/dgAAAAAEE2Z2TZmxmx7PZvHZcPfd6l%0At0r/AIvuY5TLGZY2WXpYjNqIibs7oOWrhM8efXuryXG42zKAsiizk3LuqwWRqQWRSNdmXGyzeV4e%0AI0bpXec8b+zONdMK3K1L4NxZVi7IbJYzYx2XPLF6OG19/gz6918XogAnVR8rW+dqfVfuwAAAAAAg%0AmybM7JYzY9Xs7jcuHvu897pX/F9mZTLGZY2WXpYIm6bsoMk5sauEzm3f3V5csbjdr1JFFkFn6N49%0AFWRZFWRSTdqTZSyZS42by9Xh4jQule1OeF/ZjGumNdMa1K1ObSyrIbImyWOeWLGWLvw+t/JnefdX%0AcE6qD5Wt87U+q/dgAAANwAATYTZNmdksZsen2fxl4fLsZ23Tv7PsY5TLGZY2WXpYIzugyTmWoxnj%0AMo89ll2osgNQnJvHm3ILIpGpNlGpNlslllm8r5/EaGWle1jzwv7MYV0xreNblalakWVU2VLGeyxl%0Ai55Yu3D6v8md591d06qBHD2zwGXD6+pqae90rlf/AM83zgAAEoEqgACImyWM2M2PRwPF5aGXYztu%0Anf2fXxymWMyxssvSogyTmVE3RjPHtRy7Nl5g1AjUu3RvG7xqRSTdqTZRqTZVkW4zKWZTeV8/iuHu%0Aje1jzwv7OWFdca1K3i3KrWLSbG2xYxcWbi55Yumhqb/Bnf6V3Ag+vrzHLLUxykstssr897S4G8Pl%0AdTTlulf8XhAAASopOSgACbImybM7JY78FxV0L2cuenf2fUxsyxmWN3l6VWSczdE3RDozlJY57XfZ%0AYEUax5c3TG7xZN2pFGpNlWRZFW4yyzKbyvncVw90bcseeF/ZyxydMK3K3K1i3CVqKbJszYxcXPLF%0A00dT+XL/AMrsQWR9XV56mf1X7uecmWNxyksvKy974XtHgroW6mnLdK/4vEAAAzZt0SVYsUAATYTZ%0ANksY2ejg+Iuhl2cueF/Z9HHKZYzKXeXvXqbom6IdBOpZNnMkUWRScrydsLLGhqTZVkWRVkWLZLLj%0AZvL1fN4vhro3t489O/s5Y1vGumLcrUrWLSyrBNksYyxcri6aWp/Llf6V1WRX0tW7amf1VzZykylm%0AUll6yvje0ODujbqae907+zxAAAM2bdOiRZViwAANiJsmyWM2OvCa90b2cueF7vB9KZTLHfG7y94m%0A6IdBOpOSJZugsiiyLLtd464Xtf1bk2VZFkVZFirItkyllm8vV8zjOGujbnhvdO/s44V0xreNdMa1%0AK1GosWc12Sxm4sZYueWLeln/AC5X+ldh9DV+Zn9VY3ZtZsmUss3l7nyOP4S6OVz0+en9njAAAYyx%0A25xJWpViwABqJsSGzOybM2OvDa90ctrzwvd4PfMplN5d5RDoJ1JyQBJFFkUXHlz73bDKZT9W5FkV%0AZFirIrUOzLLLN5esfM43hbo254b3Tv7OGNdMa3K3jW8WpVnNpZVkLGLGbi55Ytaee3w5f+V2ke7V%0A+Zn9V+7najNrNkssvOXq+VxvC3Stzw54fZ5AAAGMsbOc6JKsrSwAagRdkNksZsZuLpw+tdK7Xnhe%0A7we2WZTeXeVegnUnJAFiCyKLILjbLvHo08plP1aWRYqyK1FkanI7Myllm8vV8rjeEuhldTDnp39n%0ADGt410xrcrWLcWVZGpVTZLGLixcWtPPb4cv7voat/Ez+q/dhm1lN2ctrLLzj5nGcNdO3PCb4X9nl%0AAAFkVyzx25zozK1K0sBqBFFkNk2NmbGLG+H1bpXa88b+z242ZTeXeHUnJAFiCyKLICxZbLvHo0sp%0AlP1birIrUWRqEaOzLLMpvL3Plcdwl0bdTTm+nf8AF5sK6Y1vGumNalax/VqVWsf1VLE2Zsc7i+hq%0A/Nz+qudvcym7NqM3ayy83zuM4b3dueHPDw8HmABZFByzw25zozK1K1FnNqBFFkUXZGbEuLNi6Opd%0AO7dcb1j242XHeXeVNwFiCyKLAWKRrG2XePRp5zKeF8G5FaiyNQjRI1IvZlxssll7nyeP4O6Fuppz%0AfTvX/q8uNdMa3K3jW5WpWsWosqyFjOzNxenWv4uf1X7uabs2om6MXnLOrwcVw/u988f4fs84CyKA%0Asjjqae2+WPTwZlaxrcWVYosiixU2NvFLGbGbiulqXTu3XG9z142ZTeXkCxBZFAizmsUijWFsu8en%0ASzmc/V0iyNQjSyLI1IsLJZZZLL1fI4/groW6mlLdO9f+ry410xrcrcrWLcqytxZVNksb1fm5/Vfu%0Axazaibozayl59Xi4nQ7FuWH8P2ecWRQFkBy1NOzfLHp3xjGtytTm3BZFFkUWQTY2ZsYuK6Wd0744%0A16cbLN5d41EFkUAWcmoRRZFXG3G7zq9WjnM5+vg6wjSyLI1IqrIu0sss3lfH9o8DdC3V0pvp98/K%0A8mNbxreNdJWpWsWpWo1jyaTY1fm5/Vfu52om6M2soM3n1ePiNHs75Y/w/ZxkUBZAWRXHV0uz8WPT%0AvngxjW5WpWsf1aFiiyA1E2TZLGMsTSyunfHHvj0yzKbzoLIoAsFjUFkUWRcbcbvOVevR1JqTws6x%0A1WRZGpFixZGpFkLJZZZvL1fG9o8DdC3V0pvp3rPy/wCnjxrpjW8a3i3K1K1jyalaxajx8PxmPEZa%0Ak5Y6kyu+P/rqm6M2soMozefLuebW0uzzx6fZyBZAWRVkWTdw1tLb4sJy74541vGtytStRRZAagRd%0Amdk7LFhp5XC+MejHazec2gBYLFGoosii4W43edXs0NSZz9Z3OsjUixYsjUiyKJZLLLN5Xx/aPA3R%0At1dKb6ffPyvHjXTGt41vGt4tStYtzksfmM8stPic88MrMpndr/6+vwPF48RhtdpqTrP/AK9DNrKD%0AKJuzunc8+rp7fFj0c1kBZFWRYqyPPraO2+eM5d8c8a3jW8WosrUgNQIouyWM2M3EwyuF/R3llm86%0AKCwWKLI1BZFCRVxtl3xu1e7h9SZ4/wDadY6xYsjUiyKAlks2s3lfI9ocDdG3V0pvp98/K8eNbxrp%0AjWpW8W5WpWo/Na8/G1Pqv3c8MssM5nhbMp0r6/BcXjxGG15ak6x3QZRGd0RK454bc50YFkVZFirI%0AsivNr6O2+eE5d8csK6Y1qVvFZVagSKLIpsmzNjNhhbhf0dpZZvFWCxRZFkVZFCRRqLjbjd8btY9v%0AD6s1MfDKdY7SNSLIoAJZLNr0fI9o8FdK3V0p+H3zweTGt41vGukrUrWLeL87rz8bU+q/dysTHLLD%0AKZYWyzpX1eD4qa+O12mc6x6GUTdndETdCuWeO3OMyKsiyKsiyKqyPNxOhtvnhOXfHDGumNblajUW%0AVYosiiyCbJ2WbEwtxv6O2O1m8VYosiyKsihIosUjWNuN3xu1e/htWamPhlOsdpFAAEslm15x8n2h%0Awd0rdXSm+HfPB5Ma6Y1uVrFvFqV8DXn42p9V+7nYzYmNywymWNss6V9Tg+JmtjteWc6zxdkZ3RE3%0AQ3QYyx26JIsVZFkUakaHl4jh7jLqYT+scMa3jXTGtSrObUqrIosihsliWM7GNuN/R1x5zeNCyLIq%0AyKEiixSKNYW45dqXax9Dh9aauO15ZTrHUAAB8rj+D91bq6U+Dvng8eNbxrpjWpW4+HrfO1Pqv3c9%0AmbGbEluOXaxtlj6XC8RNbHa8s51ni7VlBktQTohsLIsiqsjQ1jFePiuH231NOcu+OGNbxreLcvg1%0AFxaFkUWQNjZmxnZcbcf6Oku83jUiyKsihIo1AiiyKuOVxy3xu1e/h9aauO15ZTudQAAO7Z8rj+Du%0Anbq6U+Dvng8uNbxreLcfF15+NqfVfu5pYljNjM3xy7WNssfQ4XiJq47XlnOs8XU3ZLUE6ICzmsij%0AUjQ1jFJGpHj4vhtt9TTn9Y82NdMa3K1i3KsaiiyAsE2Nmdlx5V1x2s3VZFCRRqBFFkUWRcbcbvLt%0AY93D601JteWU6uoAAD5nHcJ7vfV0p8PfPB5MXTGtSvka3ztT6r92NkTZnZmxmb43eXax7uG15qY7%0AXlnP3dTdBOiADeN3VZGhrGKSNSKSPJxfDbb6mnP6yPLjW8a6Y1qVrFpZWpAWKRdkTY2Mb2XTHnN2%0AgkUagRRZFFkUXC3G7y7V7dDVmpNryydQAAHzeO4Xsb6mlPh754PLjXTF8jW+dqfVfuwImzNjNjM3%0Axu8u1j28PrzUx2vLKfu6idEAA3b07vyvV0GsZ3qRqRVkVY8fF8L11dKf1xeTGt41vFuVqVqLKqxS%0AKLIibEi48m5zWRRZyUiiyKLIoSKuNsu8u1j2aGrNSbXllHUAAB8/jOF7Fuppz4e+eDzYvk63ztT6%0Ar92ATZNksZsZ5y7y7WPXw+tNSbX+Kfu69EAAJB0wy35Xq6YzxaJGpFWRViybtR4eN4Trq6U+rH/6%0A8eNdMa1K6YtSrObU5NEUWRRJFTZrGbNCxSKLIosihIosWWy7y7V69DVmc2vLKOoAADw8Vwtl7elN%0A5esj89rfO1Pqv3YATZEsZsSSy7y83q0NXtza8sp+7oABIBPF20895terpGpFWRViybtLIrw8dwnX%0AV0p9WP8A9eHGumNdJWpW8VlaixVkUWQNiRdlkWKRRZFFkUJFFikal2u86vVo6kzm1/ijoAAA/Ia3%0AztT6r92AA2TZNmbE2su87np0dSZza/xfd0A3JAAj0aWfa5Xq6rIqxZN2osirIsjw8dwXXW0pz65Y%0AvBjXTGt41uVrFuXZVjUFkUJFGoEUWRRZFCRRYpFFm8u8erR1JnNr1dAAAfkNb52p9V+7AALsmybJ%0AYztZd5yr0aOp2ptlyydAkAgNQejRz7XLLq6rFk3aWRVkWRqRZHg9ocFvvraM5/zYx8/GukreNbla%0AlaxaGsWgkUagRRZFFkUJFFikUVYS2XePTpanbm16ugAA/Ia3ztT6r92ABqBJubJsz2WdrLvHfS1O%0A1Nr/ABOkgANQIs5dHo0dSZfDev3dpGosirIsjUiyKsjwe0eB331tGc+uWM7/ANXzsa6Y1qVvFuVq%0ALjz6tLKsiixSKLIosihIosUiirAkanLo76Wfam16ugAD8hrfO1Pqv3YAagRQ2702ZsTbbnHbSz7X%0AK9WwGoEiizxerQ1ZlOzl/F93aRVkWRqRZFWRqRqcnzvaPA9rfW0cefXLGd/6vmY10xreNblaxblW%0AVqRZVWKRRZFFkUJFFnJSKKsCRoXHlzd9PPtcr1bAB+Q1vnan1X7sA1AiiyKmxszYzttXXTy35Xq2%0ANQIosikerQ1e1Ozl/F93eRZGpFkVZGpGoRqR872lwHa319CfF/NjO/8AV8zGtY10xrcrUrWLUqzm%0A1OTRFFkUWRQkUWKRRVgSNCyCz9HbTy7XK9WwB+Q1vnan1X7sDUCKLIoshszYmybbdHTTy35Xq6QI%0AosiiyK9XD6va+HK/F4+L0SLIqyNSNQjUjUivm+0/Z/al19CfF1yxne+VjXTGtSt4tytRqNSrGoLI%0AosihIosUiirAkaFkBZFnJ108+1Nr1bAfkNb52p9V+7DUCKLIosihsmzOybbOmnlvyvVuKLIosiix%0A6+G1u18Gd+Luvi9CyNSNTkRqRqRVkakfN9q+z+3vr6E+L+bGd/6vkY1vGt41uVvFqVZzbixqc1Fk%0AUJFFkUiirAkaFkBZFIs5OuGW/K9WgfkNb52p9V+6QIosiiyKLIJsbJsmzphlvNr1aWRRZFCRSfo9%0AvC63a+DO/F3XxemRqEakakVZGpGoPl+1PZ/b319CfH1yx8f9vkS9zeNdMa3K1jzblWVvH9WosWRQ%0AkUWKRRVgSNCyAsUiix0xy36tD8jrfO1Pqv3ZIosiiyKLIDUTZNtzZNm8Lv1bFkUJFFivbwmv2vgz%0A/i7r4vTGpGpFWRqRqAPme1PZ/vN9fQnx/wA2Pj/t8nHlvG8a3jW8a1K1i1GpWsWopIosUiirAkaC%0ARRZFIosWDeN3W3Z+S1vnan1X7sxRZFFkUWQGoENhNvEawu/K9W5FCRRYpFj3cJxHa/Dzvxd18Xrk%0AVZGpGoAD5vtPgPeb62hNs/5sfF8ieDpjWpW8W5WpWsW4saxUWKRRVgSNCyAsUiixYEaH5XV+dqfV%0AfuyLIosiiyA1AihsJssjWNaJFFikUWPfwfEdr8PUvxd18XrkakagAA+d7T4D3m+toz4/5sfzf7fI%0AnK7dG8XSVqVrFuVqVrHxbizmsikUVYEjQSKLIpFFihI0Ej8trfO1Pqv3YWRRZFFkBqBFFkVNiRTZ%0ArH9VFikUWRR9DgeJ7X4epfi7r4vbAAAHz/aXA+931tGfH3z8z5M5cryaxreLcrUrePi1K1K3jyaI%0AoqwJGgkUWKRRYsCNBIr8rrfO1Pqv3ZkUWRRZAagRRZFFkDYkakFikUWRRZFe/guK7X4epfi7r4vY%0AAAA+f7S4H3m+roz4++fm/wBvlTlvL3NytSt4txqVvFqVqNQVYEjQSKLIpFFihGgkUfmNXR1ffan4%0AWf8AFf5b4p7rV8vP0091q+Xn6as0tXy8/TT3Wr5efpp7rV8vP01Zpavl5+mr7rV8vP0091q+Vn6a%0As0tXy8/TV91q+Xn6aTR1b/xZ+mr7rV8rP0091q+Xn6as0dXys/TV91q+Vn6ae61fKz9NWaOr5Wfp%0Aq+61fKz9NPdavlZ+mk0dXys/TV91q+Vn6ae61fKz9NWaOr5Wfpq+61fKz9NJo6vlZ+mr7nV8rP00%0A91q+Vn6as0dXy8/TV91q+Vn6ae61fKz9NJo6t/4s/TWvdavlZ+mnutXys/TVmjq+Xn6a93B6mrl+%0AHqYZ9ruvZvN6+xn+TL+x2M/yZf2Oxn+TL+x2M/yZf2Oxn+TL+x2M/wAmX9jsZ/ky/sdjP8mX9jsZ%0A/ky/sdjP8mX9ng9o+z89TfV0tPKZ982/i/2+XNPV6e7z9Nbx09Ty8/TW5p6nl5+mtY6er5efprc0%0AtTy8/TWpp6vl5+mtY6Wr5efpreOlqz/jz9Namlq+Xn6as0tW/wDHn6a1NLV8vP0091q+Xn6aTS1P%0ALz9NX3Wp5efpp7rU8vP01Zpanl5+mr7rU8vP0091qeXn6as0tTy8/TT3Wp5efpqzS1fLz9NX3Wp5%0Aefpp7rU8vP00mlqeXn6as0tTy8/TV91qeXn6aTS1PLz9NX3Wp5efpp7rU8vP01Zpanl5+mr7rU8v%0AP0091qeXn6as0tSf8efpr//Z' transform='matrix(0.24 0 0 0.24 0 0)'%3E%3C/image%3E%3C/svg%3E");
  background-color: #272829;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* fixed */
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}
/* Navbar */
.navBar
{
  background-color: #272829;
  border-bottom: 1px solid #09ceff;
  box-shadow: 2px 2px 8px #000000;
  height: 40px;
  color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  width: 95%;
  margin: auto;
}
.navMenu {
  background-color: #0d1117;
  border-radius: 50px 0px 20px 0px;
  padding: 3px 8% 3px 8%;
  text-align: center;
  color: #cccccc;
  font-variant: small-caps;
  margin-right: 3%;
}
.navMenu div:hover, .sideMenu div:hover {
  color: #ffffff;
}
.Profile {
  cursor: pointer;
  padding: 6px 15px 0px 15px;
  font-variant: small-caps;
  font-size: bold;
  color: #ffffff;
  text-align: center;
}
.Burger {
  cursor: pointer;
  display: none;
  padding: 6px 15px 0px 15px;
  right: 0px;
  color: #ffffff;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.floater{
  cursor: default;
  position: fixed;
  width: 100%;
  cursor: default;
}
/* Cards and SideBar */
#Content{
  cursor: default;
  z-index: -1;
}
.PageSection {
  position: fixed;
  display: none;
  justify-content: center;
  width: 60%;
  height: 30px;
  top: 0px;
  margin: 0px 16% 20px 24%;
  font-variant: small-caps;
}
.PageSection div{
  border-radius: 0px 0px 80px 80px;
  background-color: #0d1117;
  color: #D8D9DA;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TopButton{
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  rotate: -90deg;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #09ceff7a;
  color: #ffffff;
  font-size: 25px;
  right: 0px;
  bottom: 0px;
  margin: 0px 30px 30px 0px;
}
.TopButton:hover{
  color: #2e2e2e;
}
.sideMenu{
  border-left: 2px solid #09ceff;
  background-color: #272829;
  top: 0px;
  right: -300px;
  position: absolute;
  height: 100vh;
  width: 35%;
  color: #cccccc;
  font-variant: small-caps;
}
.sideMenu div{
  margin-left: 15px;
  margin-top: 25px;
  font-size: 20px;
}
.sideMenu .closeSideMenu {
  cursor: pointer;
  list-style: none;
  position: absolute;
  left: -60px;
  background-color: #f80000;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
  font-weight: bold;
}
#ContentBlocker {
  position: fixed;
  top: 40px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #0e0e0ee0;
  animation: Fadein 0.3s;
  -webkit-animation: Fadein 0.3s ease-in;
  -moz-animation: Fadein 0.3s ease-in;
  -o-animation: Fadein 0.3s ease-in;
  -ms-animation: Fadein 0.3s ease-in;
}
.slideIn{
  right: -50px;
  animation: slideIn 1s forwards;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  -o-animation: slideIn 1s forwards;
  -ms-animation: slideIn 1s forwards;
}
@keyframes slideIn {
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}
@-moz-keyframes slideIn{
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}
@-webkit-keyframes slideIn{
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}
@-o-keyframes slideIn{
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}
@-ms-keyframes slideIn{
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}

.slideOut{
  right: 0px;
  animation: slideOut 1s forwards;
  -webkit-animation: slideOut 1s forwards;
  -moz-animation: slideOut 1s forwards;
  -o-animation: slideOut 1s forwards;
  -ms-animation: slideOut 1s forwards;
}
@keyframes slideOut {
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
@-moz-keyframes slideOut{
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
@-webkit-keyframes slideOut{
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
@-o-keyframes slideOut{
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
@-ms-keyframes slideOut{
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
.CallCard{
  display: none;
  cursor: auto;
  border: 1px solid #61677A;
  background-color: #272829;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  padding: 5px;
  width: 350px;
  color: #cccccc;
  font-size: small;
}
.Prof_Pic{
  float: left;
  border-radius: 15%;
  height: 100px;
  width: 100px;
  padding: 5px;
  margin-right: 5px;
}
.closeCallCard {
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  color: red;
  font-weight: bolder;
}
.Breathing{
  animation: Breathing 4s infinite;
  -webkit-animation: Breathing 4s infinite;
  -moz-animation: Breathing 4s infinite;
  -o-animation: Breathing 4s infinite;
  -ms-animation: Breathing 4s infinite;
}
@keyframes Breathing {
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}
@-moz-keyframes Breathing{
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}
@-webkit-keyframes Breathing{
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}
@-o-keyframes Breathing{
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}
@-ms-keyframes Breathing{
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}

.Fadein{
  animation: Fadein 1s;
  -webkit-animation: Fadein 1s ease-in;
  -moz-animation: Fadein 1s ease-in;
  -o-animation: Fadein 1s ease-in;
  -ms-animation: Fadein 1s ease-in;
}
@keyframes Fadein {
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
@-moz-keyframes Fadein{
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
@-webkit-keyframes Fadein{
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
@-o-keyframes Fadein{
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
@-ms-keyframes Fadein{
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
/* For Scroll-Revealing Function */
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom-scroll {
  animation: fade-bottom-scroll 1.5s;
  -webkit-animation: fade-bottom-scroll 1.5s;
  -moz-animation: fade-bottom-scroll 1.5s;
  -o-animation: fade-bottom-scroll 1.5s;
  -ms-animation: fade-bottom-scroll 1.5s;
}
.active.fade-left-scroll {
  animation: fade-left-scroll 1.5s;
  -webkit-animation: fade-left-scroll 1.5s;
  -moz-animation: fade-left-scroll 1.5s;
  -o-animation: fade-left-scroll 1.5s;
  -ms-animation: fade-left-scroll 1.5s;
}
.active.fade-right-scroll {
  animation: fade-right-scroll 1.5s;
  -webkit-animation: fade-right-scroll 1.5s;
  -moz-animation: fade-right-scroll 1.5s;
  -o-animation: fade-right-scroll 1.5s;
  -ms-animation: fade-right-scroll 1.5s;
}
/* Bottom */
@keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-moz-keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-webkit-keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-o-keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-ms-keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

/* Left */
@keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-moz-keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-webkit-keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-o-keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-ms-keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
/* Right */
@keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-moz-keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-webkit-keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-o-keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-ms-keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

/* Content section */
.Contenthead {
  display: block;
  background-color: rgba(0,0,0,0.5);
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 3%;
}
.Contenthead h1{
  border: 1px solid #61677A;
  border-radius: 10px;
  display: flex;
  height: 100px;
  width: 100%;
  margin: auto;
  font-variant: small-caps;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}
.Contenthead a{
  display: block;
  border-bottom: 1px solid #61677A ;
  background-color: rgba(0,0,0,0.3);
  background: linear-gradient(180deg, #27282900 55%, #27282901);
  margin: 5%;
  color: #ffffff;
  font-variant: small-caps;
  border-radius: 20px;
  text-align: center;
  padding: 4%;
  text-shadow: 2px 2px #000000;
}
.Contenthead a:hover{
  text-decoration: none;
}

footer {
  bottom: 0px;
  color: #61677A;
  font-size: 16px;
  margin-top: 5%;
  padding-bottom: 3px;
  padding-left: 2px;
  background: #272829;
}

/* Entering Page */
.EnlargePage {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
}
.EnlargeAction {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 153.4 86.4' style='enable-background:new 0 0 153.4 86.4;' xml:space='preserve'%3E%3Cimage style='overflow:visible;' width='639' height='360' xlink:href='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEBLAEsAAD/4QBWRXhpZgAATU0AKgAAAAgABAEaAAUAAAABAAAAPgEbAAUA%0AAAABAAAARgEoAAMAAAABAAIAAAITAAMAAAABAAEAAAAAAAAAAAEsAAAAAQAAASwAAAAB/+0ALFBo%0Ab3Rvc2hvcCAzLjAAOEJJTQQEAAAAAAAPHAFaAAMbJUccAQAAAgAEAP/hDW5odHRwOi8vbnMuYWRv%0AYmUuY29tL3hhcC8xLjAvADw/eHBhY2tldCBiZWdpbj0n77u/JyBpZD0nVzVNME1wQ2VoaUh6cmVT%0Aek5UY3prYzlkJz8+Cjx4OnhtcG1ldGEgeG1sbnM6eD0nYWRvYmU6bnM6bWV0YS8nIHg6eG1wdGs9%0AJ0ltYWdlOjpFeGlmVG9vbCAxMS44OCc+CjxyZGY6UkRGIHhtbG5zOnJkZj0naHR0cDovL3d3dy53%0AMy5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyc+CgogPHJkZjpEZXNjcmlwdGlvbiByZGY6%0AYWJvdXQ9JycKICB4bWxuczp0aWZmPSdodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyc+CiAg%0APHRpZmY6UmVzb2x1dGlvblVuaXQ+MjwvdGlmZjpSZXNvbHV0aW9uVW5pdD4KICA8dGlmZjpYUmVz%0Ab2x1dGlvbj4zMDAvMTwvdGlmZjpYUmVzb2x1dGlvbj4KICA8dGlmZjpZUmVzb2x1dGlvbj4zMDAv%0AMTwvdGlmZjpZUmVzb2x1dGlvbj4KIDwvcmRmOkRlc2NyaXB0aW9uPgoKIDxyZGY6RGVzY3JpcHRp%0Ab24gcmRmOmFib3V0PScnCiAgeG1sbnM6eG1wPSdodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv%0AJz4KICA8eG1wOkNyZWF0b3JUb29sPkFkb2JlIFN0b2NrIFBsYXRmb3JtPC94bXA6Q3JlYXRvclRv%0Ab2w+CiA8L3JkZjpEZXNjcmlwdGlvbj4KCiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0nJwog%0AIHhtbG5zOnhtcE1NPSdodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vJz4KICA8eG1wTU06%0ARG9jdW1lbnRJRD54bXAuaWlkOjdjMzM4OTkwLWY1YmQtNDExNi1hOWE1LTM2ZjlmM2U2MDU1Yzwv%0AeG1wTU06RG9jdW1lbnRJRD4KICA8eG1wTU06SW5zdGFuY2VJRD5hZG9iZTpkb2NpZDpzdG9jazo0%0AODE4MDRiZS04N2Y5LTRhZDEtYjk5ZS1jYTliOTZlNDE2NzM8L3htcE1NOkluc3RhbmNlSUQ+CiAg%0APHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD5hZG9iZTpkb2NpZDpzdG9jazo1MDQ1NDUxMDY8L3ht%0AcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD4KIDwvcmRmOkRlc2NyaXB0aW9uPgo8L3JkZjpSREY+Cjwv%0AeDp4bXBtZXRhPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAK%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg%0AICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAo8P3hwYWNrZXQgZW5kPSd3%0AJz8+/9sAQwAFAwQEBAMFBAQEBQUFBgcMCAcHBwcPCwsJDBEPEhIRDxERExYcFxMUGhURERghGBod%0AHR8fHxMXIiQiHiQcHh8e/8AACwgBaAJ/AQERAP/EABsAAQEBAQEBAQEAAAAAAAAAAAABAgMEBQYI%0A/8QANRABAQABAgMFBgQGAwEBAAAAAAECAxEEITESQVFTkgUTIjNysSNSYaEyQnGRouFDYoHBgv/a%0AAAgBAQAAPwD+Vdb52p9V+7AAAAiIMpsmzNj6nsT2peFs0Ne26F6X8n+n6bGzLGZY2WXpYrNvcjNr%0ALNrO6bsvNxvD4a+n4ZzpXxtTDLTzuGc2sZACNBIrUWRRZAslm15uGeF07v8Ay+JjW8a3i1KsimxI%0AbM7GzNjFjO23PvfR4Hi+3Pd6l+Puvi9iIm6ICUkSosg+VrfO1Pqv3YAAABETYRmxNmdn1PYntS8L%0AlNDXtujbyv5f9P0kzmWMuNllm8sGbWWbWd03Z3S3Zl5+L4fHXw8M50r5Gphlp53DObWMgRqBIsai%0AyKLAaxi2Szazk82pp3C8ucMa3K3i1KqyKmxsljOydlmxiznyfQ4Liu3Pd6l+Puvi9SbogIQQkB8r%0AW+dqfVfuwAAAAgmyIzsljNj6Xsb2neFymjrW3Rt5X8v+n6OZTLGXGy43pZ3ozazulrNqW7Mpuy8/%0AFaGOtj4ZTpXy9TDLDK45TaxkagRVjUiiyA1jFU2lllm8ry6undO79cb3mNdMa1K3GpRZDZE2Sxmx%0Am4sWPdwfE9r8PUvxd18XpQEIIQFj5Ot87U+q/dgAAAAQTZE2TZnZmx9H2R7Sy4XL3OrbdG9L+X/T%0A9BMpljMsbLL0s703TdndLdmU3ZZtRx4nRx1sOfLKdK+ZnhlhlccptYQIosairAaxiqsDsyyyzePN%0Aq6d0rv1x8WccnTGtytRrFoNkTY2YsZuLFxevhOI7X4epfi7r4vUJuSG6EAWV8nW+dqfVfuwAAAAC%0AbCImybM7M2Pf7K9oZcNfdatt0b/i+/jljljMsbLLzliWpbsym7LNqIjjxGljq4+GXdXz88csMrjl%0ANrEiiyKRuA1jFVYLIshZLLLN5Xk1tK6V3nPHuTGumNbxrUqytwNjZNmdksYsYuPe9fC8R2vg1L8X%0AdfF6CG6EAE6vl63ztT6r92AAAAAE2ETZNk2ZsZse72Xx+XDX3WpbdK/4vuzKXGZY2WXpYibss2oi%0Abpuy5a2lNTHa9e6vHljcMrjZtYysiiyKs5tYxVWCyLIqyFksss3lePW0rpXec8fHwTCt41uVvFqL%0AK1BNjZmxnss3Fzyxenhdff4NS8+6+L0oQATqr5Wt87U+q/dgAAAAAEE2Z2TZmxmx7PZvHZcPfd6l%0At0r/AIvuY5TLGZY2WXpYjNqIibs7oOWrhM8efXuryXG42zKAsiizk3LuqwWRqQWRSNdmXGyzeV4e%0AI0bpXec8b+zONdMK3K1L4NxZVi7IbJYzYx2XPLF6OG19/gz6918XogAnVR8rW+dqfVfuwAAAAAAg%0AmybM7JYzY9Xs7jcuHvu897pX/F9mZTLGZY2WXpYIm6bsoMk5sauEzm3f3V5csbjdr1JFFkFn6N49%0AFWRZFWRSTdqTZSyZS42by9Xh4jQule1OeF/ZjGumNdMa1K1ObSyrIbImyWOeWLGWLvw+t/JnefdX%0AcE6qD5Wt87U+q/dgAAANwAATYTZNmdksZsen2fxl4fLsZ23Tv7PsY5TLGZY2WXpYIzugyTmWoxnj%0AMo89ll2osgNQnJvHm3ILIpGpNlGpNlslllm8r5/EaGWle1jzwv7MYV0xreNblalakWVU2VLGeyxl%0Ai55Yu3D6v8md591d06qBHD2zwGXD6+pqae90rlf/AM83zgAAEoEqgACImyWM2M2PRwPF5aGXYztu%0Anf2fXxymWMyxssvSogyTmVE3RjPHtRy7Nl5g1AjUu3RvG7xqRSTdqTZRqTZVkW4zKWZTeV8/iuHu%0Aje1jzwv7OWFdca1K3i3KrWLSbG2xYxcWbi55Yumhqb/Bnf6V3Ag+vrzHLLUxykstssr897S4G8Pl%0AdTTlulf8XhAAASopOSgACbImybM7JY78FxV0L2cuenf2fUxsyxmWN3l6VWSczdE3RDozlJY57XfZ%0AYEUax5c3TG7xZN2pFGpNlWRZFW4yyzKbyvncVw90bcseeF/ZyxydMK3K3K1i3CVqKbJszYxcXPLF%0A00dT+XL/AMrsQWR9XV56mf1X7uecmWNxyksvKy974XtHgroW6mnLdK/4vEAAAzZt0SVYsUAATYTZ%0ANksY2ejg+Iuhl2cueF/Z9HHKZYzKXeXvXqbom6IdBOpZNnMkUWRScrydsLLGhqTZVkWRVkWLZLLj%0AZvL1fN4vhro3t489O/s5Y1vGumLcrUrWLSyrBNksYyxcri6aWp/Llf6V1WRX0tW7amf1VzZykylm%0AUll6yvje0ODujbqae907+zxAAAM2bdOiRZViwAANiJsmyWM2OvCa90b2cueF7vB9KZTLHfG7y94m%0A6IdBOpOSJZugsiiyLLtd464Xtf1bk2VZFkVZFirItkyllm8vV8zjOGujbnhvdO/s44V0xreNdMa1%0AK1GosWc12Sxm4sZYueWLeln/AC5X+ldh9DV+Zn9VY3ZtZsmUss3l7nyOP4S6OVz0+en9njAAAYyx%0A25xJWpViwABqJsSGzOybM2OvDa90ctrzwvd4PfMplN5d5RDoJ1JyQBJFFkUXHlz73bDKZT9W5FkV%0AZFirIrUOzLLLN5esfM43hbo254b3Tv7OGNdMa3K3jW8WpVnNpZVkLGLGbi55Ytaee3w5f+V2ke7V%0A+Zn9V+7najNrNkssvOXq+VxvC3Stzw54fZ5AAAGMsbOc6JKsrSwAagRdkNksZsZuLpw+tdK7Xnhe%0A7we2WZTeXeVegnUnJAFiCyKLILjbLvHo08plP1aWRYqyK1FkanI7Myllm8vV8rjeEuhldTDnp39n%0ADGt410xrcrWLcWVZGpVTZLGLixcWtPPb4cv7voat/Ez+q/dhm1lN2ctrLLzj5nGcNdO3PCb4X9nl%0AAAFkVyzx25zozK1K0sBqBFFkNk2NmbGLG+H1bpXa88b+z242ZTeXeHUnJAFiCyKLICxZbLvHo0sp%0AlP1birIrUWRqEaOzLLMpvL3Plcdwl0bdTTm+nf8AF5sK6Y1vGumNalax/VqVWsf1VLE2Zsc7i+hq%0A/Nz+qudvcym7NqM3ayy83zuM4b3dueHPDw8HmABZFByzw25zozK1K1FnNqBFFkUXZGbEuLNi6Opd%0AO7dcb1j242XHeXeVNwFiCyKLAWKRrG2XePRp5zKeF8G5FaiyNQjRI1IvZlxssll7nyeP4O6Fuppz%0AfTvX/q8uNdMa3K3jW5WpWsWosqyFjOzNxenWv4uf1X7uabs2om6MXnLOrwcVw/u988f4fs84CyKA%0Asjjqae2+WPTwZlaxrcWVYosiixU2NvFLGbGbiulqXTu3XG9z142ZTeXkCxBZFAizmsUijWFsu8en%0ASzmc/V0iyNQjSyLI1IsLJZZZLL1fI4/groW6mlLdO9f+ry410xrcrcrWLcqytxZVNksb1fm5/Vfu%0Axazaibozayl59Xi4nQ7FuWH8P2ecWRQFkBy1NOzfLHp3xjGtytTm3BZFFkUWQTY2ZsYuK6Wd0744%0A16cbLN5d41EFkUAWcmoRRZFXG3G7zq9WjnM5+vg6wjSyLI1IqrIu0sss3lfH9o8DdC3V0pvp98/K%0A8mNbxreNdJWpWsWpWo1jyaTY1fm5/Vfu52om6M2soM3n1ePiNHs75Y/w/ZxkUBZAWRXHV0uz8WPT%0AvngxjW5WpWsf1aFiiyA1E2TZLGMsTSyunfHHvj0yzKbzoLIoAsFjUFkUWRcbcbvOVevR1JqTws6x%0A1WRZGpFixZGpFkLJZZZvL1fG9o8DdC3V0pvp3rPy/wCnjxrpjW8a3i3K1K1jyalaxajx8PxmPEZa%0Ak5Y6kyu+P/rqm6M2soMozefLuebW0uzzx6fZyBZAWRVkWTdw1tLb4sJy74541vGtytStRRZAagRd%0Amdk7LFhp5XC+MejHazec2gBYLFGoosii4W43edXs0NSZz9Z3OsjUixYsjUiyKJZLLLN5Xx/aPA3R%0At1dKb6ffPyvHjXTGt41vGt4tStYtzksfmM8stPic88MrMpndr/6+vwPF48RhtdpqTrP/AK9DNrKD%0AKJuzunc8+rp7fFj0c1kBZFWRYqyPPraO2+eM5d8c8a3jW8WosrUgNQIouyWM2M3EwyuF/R3llm86%0AKCwWKLI1BZFCRVxtl3xu1e7h9SZ4/wDadY6xYsjUiyKAlks2s3lfI9ocDdG3V0pvp98/K8eNbxrp%0AjWpW8W5WpWo/Na8/G1Pqv3c8MssM5nhbMp0r6/BcXjxGG15ak6x3QZRGd0RK454bc50YFkVZFirI%0AsivNr6O2+eE5d8csK6Y1qVvFZVagSKLIpsmzNjNhhbhf0dpZZvFWCxRZFkVZFCRRqLjbjd8btY9v%0AD6s1MfDKdY7SNSLIoAJZLNr0fI9o8FdK3V0p+H3zweTGt41vGukrUrWLeL87rz8bU+q/dysTHLLD%0AKZYWyzpX1eD4qa+O12mc6x6GUTdndETdCuWeO3OMyKsiyKsiyKqyPNxOhtvnhOXfHDGumNblajUW%0AVYosiiyCbJ2WbEwtxv6O2O1m8VYosiyKsihIosUjWNuN3xu1e/htWamPhlOsdpFAAEslm15x8n2h%0Awd0rdXSm+HfPB5Ma6Y1uVrFvFqV8DXn42p9V+7nYzYmNywymWNss6V9Tg+JmtjteWc6zxdkZ3RE3%0AQ3QYyx26JIsVZFkUakaHl4jh7jLqYT+scMa3jXTGtSrObUqrIosihsliWM7GNuN/R1x5zeNCyLIq%0AyKEiixSKNYW45dqXax9Dh9aauO15ZTrHUAAB8rj+D91bq6U+Dvng8eNbxrpjWpW4+HrfO1Pqv3c9%0AmbGbEluOXaxtlj6XC8RNbHa8s51ni7VlBktQTohsLIsiqsjQ1jFePiuH231NOcu+OGNbxreLcvg1%0AFxaFkUWQNjZmxnZcbcf6Oku83jUiyKsihIo1AiiyKuOVxy3xu1e/h9aauO15ZTudQAAO7Z8rj+Du%0Anbq6U+Dvng8uNbxreLcfF15+NqfVfu5pYljNjM3xy7WNssfQ4XiJq47XlnOs8XU3ZLUE6ICzmsij%0AUjQ1jFJGpHj4vhtt9TTn9Y82NdMa3K1i3KsaiiyAsE2Nmdlx5V1x2s3VZFCRRqBFFkUWRcbcbvLt%0AY93D601JteWU6uoAAD5nHcJ7vfV0p8PfPB5MXTGtSvka3ztT6r92NkTZnZmxmb43eXax7uG15qY7%0AXlnP3dTdBOiADeN3VZGhrGKSNSKSPJxfDbb6mnP6yPLjW8a6Y1qVrFpZWpAWKRdkTY2Mb2XTHnN2%0AgkUagRRZFFkUXC3G7y7V7dDVmpNryydQAAHzeO4Xsb6mlPh754PLjXTF8jW+dqfVfuwImzNjNjM3%0Axu8u1j28PrzUx2vLKfu6idEAA3b07vyvV0GsZ3qRqRVkVY8fF8L11dKf1xeTGt41vFuVqVqLKqxS%0AKLIibEi48m5zWRRZyUiiyKLIoSKuNsu8u1j2aGrNSbXllHUAAB8/jOF7Fuppz4e+eDzYvk63ztT6%0Ar92ATZNksZsZ5y7y7WPXw+tNSbX+Kfu69EAAJB0wy35Xq6YzxaJGpFWRViybtR4eN4Trq6U+rH/6%0A8eNdMa1K6YtSrObU5NEUWRRJFTZrGbNCxSKLIosihIosWWy7y7V69DVmc2vLKOoAADw8Vwtl7elN%0A5esj89rfO1Pqv3YATZEsZsSSy7y83q0NXtza8sp+7oABIBPF20895terpGpFWRViybtLIrw8dwnX%0AV0p9WP8A9eHGumNdJWpW8VlaixVkUWQNiRdlkWKRRZFFkUJFFikal2u86vVo6kzm1/ijoAAA/Ia3%0AztT6r92AA2TZNmbE2su87np0dSZza/xfd0A3JAAj0aWfa5Xq6rIqxZN2osirIsjw8dwXXW0pz65Y%0AvBjXTGt41uVrFuXZVjUFkUJFGoEUWRRZFCRRYpFFm8u8erR1JnNr1dAAAfkNb52p9V+7AALsmybJ%0AYztZd5yr0aOp2ptlyydAkAgNQejRz7XLLq6rFk3aWRVkWRqRZHg9ocFvvraM5/zYx8/GukreNbla%0AlaxaGsWgkUagRRZFFkUJFFikUVYS2XePTpanbm16ugAA/Ia3ztT6r92ABqBJubJsz2WdrLvHfS1O%0A1Nr/ABOkgANQIs5dHo0dSZfDev3dpGosirIsjUiyKsjwe0eB331tGc+uWM7/ANXzsa6Y1qVvFuVq%0ALjz6tLKsiixSKLIosihIosUiirAkanLo76Wfam16ugAD8hrfO1Pqv3YAagRQ2702ZsTbbnHbSz7X%0AK9WwGoEiizxerQ1ZlOzl/F93aRVkWRqRZFWRqRqcnzvaPA9rfW0cefXLGd/6vmY10xreNblaxblW%0AVqRZVWKRRZFFkUJFFnJSKKsCRoXHlzd9PPtcr1bAB+Q1vnan1X7sA1AiiyKmxszYzttXXTy35Xq2%0ANQIosikerQ1e1Ozl/F93eRZGpFkVZGpGoRqR872lwHa319CfF/NjO/8AV8zGtY10xrcrUrWLUqzm%0A1OTRFFkUWRQkUWKRRVgSNCyCz9HbTy7XK9WwB+Q1vnan1X7sDUCKLIoshszYmybbdHTTy35Xq6QI%0AosiiyK9XD6va+HK/F4+L0SLIqyNSNQjUjUivm+0/Z/al19CfF1yxne+VjXTGtSt4tytRqNSrGoLI%0AosihIosUiirAkaFkBZFnJ108+1Nr1bAfkNb52p9V+7DUCKLIosihsmzOybbOmnlvyvVuKLIosiix%0A6+G1u18Gd+Luvi9CyNSNTkRqRqRVkakfN9q+z+3vr6E+L+bGd/6vkY1vGt41uVvFqVZzbixqc1Fk%0AUJFFkUiirAkaFkBZFIs5OuGW/K9WgfkNb52p9V+6QIosiiyKLIJsbJsmzphlvNr1aWRRZFCRSfo9%0AvC63a+DO/F3XxemRqEakakVZGpGoPl+1PZ/b319CfH1yx8f9vkS9zeNdMa3K1jzblWVvH9WosWRQ%0AkUWKRRVgSNCyAsUiix0xy36tD8jrfO1Pqv3ZIosiiyKLIDUTZNtzZNm8Lv1bFkUJFFivbwmv2vgz%0A/i7r4vTGpGpFWRqRqAPme1PZ/vN9fQnx/wA2Pj/t8nHlvG8a3jW8a1K1i1GpWsWopIosUiirAkaC%0ARRZFIosWDeN3W3Z+S1vnan1X7sxRZFFkUWQGoENhNvEawu/K9W5FCRRYpFj3cJxHa/Dzvxd18Xrk%0AVZGpGoAD5vtPgPeb62hNs/5sfF8ieDpjWpW8W5WpWsW4saxUWKRRVgSNCyAsUiixYEaH5XV+dqfV%0AfuyLIosiiyA1AihsJssjWNaJFFikUWPfwfEdr8PUvxd18XrkakagAA+d7T4D3m+toz4/5sfzf7fI%0AnK7dG8XSVqVrFuVqVrHxbizmsikUVYEjQSKLIpFFihI0Ej8trfO1Pqv3YWRRZFFkBqBFFkVNiRTZ%0ArH9VFikUWRR9DgeJ7X4epfi7r4vbAAAHz/aXA+931tGfH3z8z5M5cryaxreLcrUrePi1K1K3jyaI%0AoqwJGgkUWKRRYsCNBIr8rrfO1Pqv3ZkUWRRZAagRRZFFkDYkakFikUWRRZFe/guK7X4epfi7r4vY%0AAAA+f7S4H3m+roz4++fm/wBvlTlvL3NytSt4txqVvFqVqNQVYEjQSKLIpFFihGgkUfmNXR1ffan4%0AWf8AFf5b4p7rV8vP0091q+Xn6as0tXy8/TT3Wr5efpp7rV8vP01Zpavl5+mr7rV8vP0091q+Vn6a%0As0tXy8/TV91q+Xn6aTR1b/xZ+mr7rV8rP0091q+Xn6as0dXys/TV91q+Vn6ae61fKz9NWaOr5Wfp%0Aq+61fKz9NPdavlZ+mk0dXys/TV91q+Vn6ae61fKz9NWaOr5Wfpq+61fKz9NJo6vlZ+mr7nV8rP00%0A91q+Vn6as0dXy8/TV91q+Vn6ae61fKz9NJo6t/4s/TWvdavlZ+mnutXys/TVmjq+Xn6a93B6mrl+%0AHqYZ9ruvZvN6+xn+TL+x2M/yZf2Oxn+TL+x2M/yZf2Oxn+TL+x2M/wAmX9jsZ/ky/sdjP8mX9jsZ%0A/ky/sdjP8mX9ng9o+z89TfV0tPKZ982/i/2+XNPV6e7z9Nbx09Ty8/TW5p6nl5+mtY6er5efprc0%0AtTy8/TWpp6vl5+mtY6Wr5efpreOlqz/jz9Namlq+Xn6as0tW/wDHn6a1NLV8vP0091q+Xn6aTS1P%0ALz9NX3Wp5efpp7rU8vP01Zpanl5+mr7rU8vP0091qeXn6as0tTy8/TT3Wp5efpqzS1fLz9NX3Wp5%0Aefpp7rU8vP00mlqeXn6as0tTy8/TV91qeXn6aTS1PLz9NX3Wp5efpp7rU8vP01Zpanl5+mr7rU8v%0AP0091qeXn6as0tSf8efpr//Z' transform='matrix(0.24 0 0 0.24 0 0)'%3E%3C/image%3E%3C/svg%3E");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.Enlarging {
  border: 2px solid #61677A;
  animation: Enlarging 1s;
  -webkit-animation: Enlarging 1s;
  -moz-animation: Enlarging 1s;
  -o-animation: Enlarging 1s;
  -ms-animation: Enlarging 1s;
}
@keyframes Enlarging {
  0% { height: 0%; width: 0%; border-radius: 50%;}
  100% { height: 100vh; width: 100vw;}
}
@-moz-keyframes Enlarging {
  0% { height: 0%; width: 0%; border-radius: 50%;}
  100% { height: 100vh; width: 100vw;}
}
@-webkit-keyframes Enlarging {
  0% { height: 0%; width: 0%; border-radius: 50%;}
  100% { height: 100vh; width: 100vw;}
}
@-o-keyframes Enlarging {
  0% { height: 0%; width: 0%; border-radius: 50%;}
  100% { height: 100vh; width: 100vw;}
}
@-ms-keyframes Enlarging {
  0% { height: 0%; width: 0%; border-radius: 50%;}
  100% { height: 100vh; width: 100vw;}
}

/* All media */
@media (max-width: 600px) /*high value first*/
{
    #navMenu{
        display: none;
    }
    #Burger{
        display: block;
    }
    .cyberArea {
      font-size: 30px;
    }
    .smalltext {
      font-size: 20px;
    }
    .Digital {
      font-size: 30px;
    }
    footer {
      font-size: 15px;
      padding-left: 12px;
    }
    .PageSection {
      display: flex;
    }
    .TopButton{
      display: flex;
    }
}
@media (max-width: 500px)
{
  .Section {
    display: flex;
    margin-left: 18%;
    width: 65%;
  }
}
@media (max-width: 375px)
{
  .Section {
    display: flex;
    margin-left: 23%;
    width: 58%;
  }
}
@media (max-width: 470px)
{
  .Contenthead > h1{
    font-size: 28px;
  }
}

/* Min */
@media (min-width: 601px)
{
    .sideMenu{
      display: none !important;
    }
}

@media (min-width: 520px) /*small value first*/
{
  .Contenthead h1{
    margin-top: -3%;
  }
  .Contenthead a{
    margin: 6% 16% 0% 16%;
  }
}
@media (min-width: 535px) /*small value first*/
{
  .Contenthead h1{
    margin-top: -1%;
  }
  .Contenthead a{
    margin: 1% 17% 0% 17%;
    padding: 6% 0% 2% 0%;
  }
}
@media (min-width: 992px)
{
  .Contenthead h1{
    margin-top: -1%;
  }
  .Contenthead a{
    margin: 0% 30% 1% 30%;
    padding: 3% 0% 1% 0%;
  }
}