/* 
#272829 background
#4c4d4e faded text
#61677A border
#D8D9DA text
#cccccc
 */
.fixedBG {
  background: url('../images/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* fixed */
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}
/* Navbar */
.navBar
{
  background-color: #4c4d4e;
  box-shadow: 2px 2px 8px #000000;
  height: 40px;
  color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  width: 95%;
  margin: auto;
}
.navMenu {
  background-color: #272829;
  border-radius: 50px 0px 20px 0px;
  padding: 3px 8% 3px 8%;
  text-align: center;
  color: #cccccc;
  font-variant: small-caps;
  margin-right: 3%;
}
.navMenu div:hover, .sideMenu div:hover {
  color: #ffffff;
}
.Profile {
  cursor: pointer;
  padding: 6px 15px 0px 15px;
  font-variant: small-caps;
  font-size: bold;
  color: #ffffff;
  text-align: center;
}
.Burger {
  cursor: pointer;
  display: none;
  padding: 6px 15px 0px 15px;
  right: 0px;
  color: #ffffff;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.floater{
  cursor: default;
  position: fixed;
  width: 100%;
  cursor: default;
}
/* Cards and SideBar */
#Content{
  cursor: default;
  z-index: -1;
}
.PageSection {
  position: fixed;
  display: none;
  justify-content: center;
  width: 60%;
  height: 30px;
  top: 0px;
  margin: 0px 16% 20px 24%;
  font-variant: small-caps;
}
.PageSection div{
  border-radius: 0px 0px 80px 80px;
  background-color: #272829;
  color: #D8D9DA;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideMenu{
  border-left: 2px solid #61677A;
  background-color: #272829;
  top: 0px;
  right: -300px;
  position: absolute;
  height: 100vh;
  width: 35%;
  color: #cccccc;
  font-variant: small-caps;
}
.sideMenu div{
  margin-left: 15px;
  margin-top: 25px;
  font-size: 20px;
}
.sideMenu .closeSideMenu {
  cursor: pointer;
  list-style: none;
  position: absolute;
  left: -60px;
  background-color: #f80000;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
  font-weight: bold;
}
#ContentBlocker {
  position: fixed;
  top: 40px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #0e0e0ee0;
  animation: Fadein 0.3s;
  -webkit-animation: Fadein 0.3s ease-in;
  -moz-animation: Fadein 0.3s ease-in;
  -o-animation: Fadein 0.3s ease-in;
  -ms-animation: Fadein 0.3s ease-in;
}
.slideIn{
  right: -50px;
  animation: slideIn 1s forwards;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  -o-animation: slideIn 1s forwards;
  -ms-animation: slideIn 1s forwards;
}
@keyframes slideIn {
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}
@-moz-keyframes slideIn{
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}
@-webkit-keyframes slideIn{
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}
@-o-keyframes slideIn{
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}
@-ms-keyframes slideIn{
  0% {opacity: 0;}
  80% {opacity: 1;}
  100%{right: 0px;}
}

.slideOut{
  right: 0px;
  animation: slideOut 1s forwards;
  -webkit-animation: slideOut 1s forwards;
  -moz-animation: slideOut 1s forwards;
  -o-animation: slideOut 1s forwards;
  -ms-animation: slideOut 1s forwards;
}
@keyframes slideOut {
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
@-moz-keyframes slideOut{
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
@-webkit-keyframes slideOut{
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
@-o-keyframes slideOut{
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
@-ms-keyframes slideOut{
  0% {display: block; opacity: 1;}
  98% {opacity: 0; display: none;}
  100%{right: -300px;}
}
.CallCard{
  display: none;
  cursor: auto;
  border: 1px solid #61677A;
  background-color: #272829;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  padding: 5px;
  width: 350px;
  color: #cccccc;
  font-size: small;
}
.Prof_Pic{
  float: left;
  border-radius: 15%;
  height: 100px;
  width: 100px;
  padding: 5px;
  margin-right: 5px;
}
.closeCallCard {
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  color: red;
  font-weight: bolder;
}
.Breathing{
  animation: Breathing 4s infinite;
  -webkit-animation: Breathing 4s infinite;
  -moz-animation: Breathing 4s infinite;
  -o-animation: Breathing 4s infinite;
  -ms-animation: Breathing 4s infinite;
}
@keyframes Breathing {
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}
@-moz-keyframes Breathing{
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}
@-webkit-keyframes Breathing{
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}
@-o-keyframes Breathing{
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}
@-ms-keyframes Breathing{
  0% {opacity: 1;}
  50% {opacity: 0.1;}
  100% {opacity: 1;}
}

.Fadein{
  animation: Fadein 1s;
  -webkit-animation: Fadein 1s ease-in;
  -moz-animation: Fadein 1s ease-in;
  -o-animation: Fadein 1s ease-in;
  -ms-animation: Fadein 1s ease-in;
}
@keyframes Fadein {
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
@-moz-keyframes Fadein{
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
@-webkit-keyframes Fadein{
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
@-o-keyframes Fadein{
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}
@-ms-keyframes Fadein{
  0% {opacity: 0; transform: translateY(50px);}
  100% {opacity: 1; transform: translateY(0px);}
}

.Directing {
  text-align: center;
  color: #888888;
  animation: Directing 2s;
  -webkit-animation: Directing 2s infinite;
  -moz-animation: Directing 2s infinite;
  -o-animation: Directing 2s infinite;
  -ms-animation: Directing 2s infinite;
}
.Directing span{
  font-variant: small-caps;
  font-size: small;
  vertical-align: middle;
}
@keyframes Directing {
  0% {transform: translateY(-20px);}
  50% {transform: translateY(0px);}
  100% {transform: translateY(-20px);}
}
@-moz-keyframes Directing{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes Directing{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes Directing{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-ms-keyframes Directing{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* For Scroll-Revealing Function */
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom-scroll {
  animation: fade-bottom-scroll 1.5s;
  -webkit-animation: fade-bottom-scroll 1.5s;
  -moz-animation: fade-bottom-scroll 1.5s;
  -o-animation: fade-bottom-scroll 1.5s;
  -ms-animation: fade-bottom-scroll 1.5s;
}
.active.fade-left-scroll {
  animation: fade-left-scroll 1.5s;
  -webkit-animation: fade-left-scroll 1.5s;
  -moz-animation: fade-left-scroll 1.5s;
  -o-animation: fade-left-scroll 1.5s;
  -ms-animation: fade-left-scroll 1.5s;
}
.active.fade-right-scroll {
  animation: fade-right-scroll 1.5s;
  -webkit-animation: fade-right-scroll 1.5s;
  -moz-animation: fade-right-scroll 1.5s;
  -o-animation: fade-right-scroll 1.5s;
  -ms-animation: fade-right-scroll 1.5s;
}
/* Bottom */
@keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-moz-keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-webkit-keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-o-keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-ms-keyframes fade-bottom-scroll {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

/* Left */
@keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-moz-keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-webkit-keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-o-keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-ms-keyframes fade-left-scroll {
  0% { transform: translateX(-50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
/* Right */
@keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-moz-keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-webkit-keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-o-keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@-ms-keyframes fade-right-scroll {
  0% { transform: translateX(50px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

/* Content section */
.Contenthead {
  display: block;
  background-color: rgba(0,0,0,0.5);
  color: #cccccc;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 3%;
}
.Contenthead h1{
  display: block;
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 2%;
  color: #888888;
}
.Contenthead h5{
  display: block;
  border-bottom: 1px solid #61677A ;
  background-color: rgba(0,0,0,0.3);
  background: linear-gradient(180deg, #27282900 55%, #27282901);
  margin: 5%;
  color: #ffffff;
  font-variant: small-caps;
  border-radius: 20px;
  text-align: center;
  padding: 4%;
  text-shadow: 2px 2px #000000;
}

footer {
  bottom: 0px;
  color: #61677A;
  font-size: 16px;
  margin-top: 5%;
  padding-bottom: 3px;
  padding-left: 2px;
  background: #272829;
}

/* Entering Page */
.EnlargePage {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
}
.EnlargeAction {
  background: url('../images/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.Enlarging {
  border: 2px solid #61677A;
  animation: Enlarging 1s;
  -webkit-animation: Enlarging 1s;
  -moz-animation: Enlarging 1s;
  -o-animation: Enlarging 1s;
  -ms-animation: Enlarging 1s;
}
@keyframes Enlarging {
  0% { height: 0%; width: 0%; border-radius: 50%;}
  100% { height: 100vh; width: 100vw;}
}
@-moz-keyframes Enlarging {
  0% { height: 0%; width: 0%; border-radius: 50%;}
  100% { height: 100vh; width: 100vw;}
}
@-webkit-keyframes Enlarging {
  0% { height: 0%; width: 0%; border-radius: 50%;}
  100% { height: 100vh; width: 100vw;}
}
@-o-keyframes Enlarging {
  0% { height: 0%; width: 0%; border-radius: 50%;}
  100% { height: 100vh; width: 100vw;}
}
@-ms-keyframes Enlarging {
  0% { height: 0%; width: 0%; border-radius: 50%;}
  100% { height: 100vh; width: 100vw;}
}

/* All media */
@media (max-width: 600px) /*high value first*/
{
    #navMenu{
        display: none;
    }
    #Burger{
        display: block;
    }
    .cyberArea {
      font-size: 30px;
    }
    .smalltext {
      font-size: 20px;
    }
    .Digital {
      font-size: 30px;
    }
    footer {
      font-size: 15px;
      padding-left: 12px;
    }
    .PageSection {
      display: flex;
    }
}
@media (max-width: 500px)
{
  .Section {
    display: flex;
    margin-left: 18%;
    width: 65%;
  }
}
@media (max-width: 375px)
{
  .Section {
    display: flex;
    margin-left: 23%;
    width: 58%;
  }
}
/* Min */
@media (min-width: 601px)
{
    .sideMenu{
      display: none !important;
    }
}

@media (min-width: 520px) /*small value first*/
{
  .Contenthead h1{
    margin-top: -3%;
  }
  .Contenthead h5{
    margin: 6% 16% 0% 16%;
  }
  .Contenthead h4{
    margin: 5% 0% 0% 0%;
  }
}
@media (min-width: 535px) /*small value first*/
{
  .Contenthead h1{
    margin-top: -1%;
  }
  .Contenthead h5{
    margin: 1% 17% 0% 17%;
    padding: 6% 0% 2% 0%;
  }
  .Contenthead h4{
    margin: 5% 0% 0% 0%;
  }
}
@media (min-width: 992px)
{
  .Contenthead h1{
    margin-top: -1%;
  }
  .Contenthead h5{
    margin: 0% 30% 1% 30%;
    padding: 3% 0% 1% 0%;
  }
  .Contenthead h4{
    margin: 3% 0% 0% 0%;
  }
}