.CertificatePage {
    position: absolute;
    top: 50px;
    width: 100%;
    font-size: larger;
}
.CertificatePage .container{
    margin-top: 1%;
}
/* 1st Div */
.CertCard {
    border: 1px solid #61677A;
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 3%;
}
/* 2nd Div */
.CertCard p{
    border-bottom: 2px solid #61677A;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    margin: 2% 10% 2% 10%;
    padding: 5px;
    padding-bottom: 10px;
}
.CertCard_body{
    text-align: center;
}
.CertCard_body img {
    display: inline-block;
    border-radius: 3%;
    margin: 2%;
    object-fit: cover;
    width: 250px;
}
.CertCard_body span{
    font-size: small;
    cursor: pointer;
}
.CertCard_body span:hover{
    color: #61677A;
}
.CertCard_body div.temporary{
    border-radius: 3%;
    margin: 1%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
    font-variant: small-caps;
}
@media (min-width: 481px)
{
    .CertCard_body img {
        width: 360px;
    }
    .CertCard {
        width: 95%;
        margin: auto;
        margin-bottom: 3%;
    }
}
@media (min-width: 601px)
{
    .CertCard_body img {
        width: 370px;
    }
    .CertCard {
        width: 90%;
        margin: auto;
        margin-bottom: 3%;
    }
}
@media (min-width: 768px)
{
    .CertCard_body img {
        width: 460px;
    }
    .CertCard {
        width: 90%;
        margin: auto;
        margin-bottom: 3%;
    }
}
@media (min-width: 992px)
{
    .CertCard_body img {
        width: 560px;
    }
    .CertCard {
        width: 80%;
        margin: auto;
        margin-bottom: 3%;
    }
}
@media (min-width: 1200px)
{
    .CertCard_body img {
        width: 560px;
    }
    .CertCard {
        width: 65%;
        margin: auto;
        margin-bottom: 3%;
    }
}
/* max width */
@media (max-width: 481px)
{
    .CertCard_body span{
        font-size: x-small;
    }
}
@media (max-width: 333px)
{
    .CertCard_body span{
        font-size: xx-small;
    }
}
.Contenthead > h1 {
    background-image: url("../images/svg/Background_Banner.svg");
    background-color: #0f0f0f;
    background-repeat: repeat;
    background-size: contain;
}