.CertificatePage {
    position: absolute;
    top: 50px;
    width: 100%;
    font-size: larger;
}
.CertificatePage .container{
    margin-top: 1%;
}
/* 1st Div */
.CertCard {
    border: 1px solid #00d9ff;
    background-color: rgba(0,0,0,0.8);
    color: #ffffff;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 3%;
}
/* 2nd Div */
.CertCard p{
    border-bottom: 2px solid #00d9ff;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    margin: 2% 10% 2% 10%;
    padding: 5px;
    padding-bottom: 10px;
}
.CertCard_body{
    justify-content: center;
}
.CertCard_body img {
    display: inline-block;
    border-radius: 3%;
    margin: 2%;
    max-width: 70%;
    max-height: 70%;
}
.CertCard_body .link{
    justify-content: center;
    padding-bottom: 4%;
}
.CertCard_body .link a{
    text-decoration: none;
    color: #00d9ff;
    font-weight: bolder;
}
.CertCard_body .link a:hover{
    color: #0400ff;
}
.CertCard_body div.temporary{
    border-radius: 3%;
    margin: 1%;
    height: 200px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
    font-variant: small-caps;
}