.CertificatePage {
    position: absolute;
    top: 50px;
    width: 100%;
    font-size: larger;
}
.CertificatePage .container{
    margin-top: 1%;
}
.CertCard_body{
    text-align: center;
}
.CertCard_body img {
    display: inline-block;
    border-radius: 3%;
    margin: 2%;
    object-fit: cover;
    width: 250px;
}
.CertCard_body span{
    font-size: small;
    cursor: pointer;
}
.CertCard_body span:hover{
    color: #61677A;
}
.CertCard_body div.temporary{
    border-radius: 3%;
    margin: 1%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
    font-variant: small-caps;
}
@media (min-width: 481px)
{
    .CertCard_body img {
        width: 360px;
    }
    .Section_Card {
        width: 95%;
        margin: auto;
        margin-bottom: 3%;
    }
}
@media (min-width: 601px)
{
    .CertCard_body img {
        width: 370px;
    }
    .Section_Card {
        width: 90%;
        margin: auto;
        margin-bottom: 3%;
    }
}
@media (min-width: 768px)
{
    .CertCard_body img {
        width: 460px;
    }
    .Section_Card {
        width: 90%;
        margin: auto;
        margin-bottom: 3%;
    }
}
@media (min-width: 992px)
{
    .CertCard_body img {
        width: 560px;
    }
    .Section_Card {
        width: 80%;
        margin: auto;
        margin-bottom: 3%;
    }
}
@media (min-width: 1200px)
{
    .CertCard_body img {
        width: 560px;
    }
    .Section_Card {
        width: 65%;
        margin: auto;
        margin-bottom: 3%;
    }
}
/* max width */
@media (max-width: 481px)
{
    .CertCard_body span{
        font-size: x-small;
    }
}
@media (max-width: 333px)
{
    .CertCard_body span{
        font-size: xx-small;
    }
}
.Contenthead > h1 {
    background: linear-gradient(140deg, #010a18, #01296d, #010a18);
    background-repeat: repeat;
    background-size: contain;
}
.svg {
    background-image: url( '../images/svg/cert.svg' );
    background-size: cover;
    position: absolute;
    left: 36%;
    height: 90px;
    width: 90px;
}
@media (max-width: 1199px)
{
  .svg {
    left: 33.5%;
  }
}
@media (max-width: 991px)
{
  .svg {
    left: 27.5%;
  }
}
@media (max-width: 767px)
{
  .svg {
    left: 19.5%;
  }
}