.BackgroundPage {
    position: absolute;
    top: 50px;
    width: 100%;
    font-size: larger;
}
.BackgroundPage .container{
    margin-top: 1%;
}
.Section_Card div{
    font-weight: bold;
    margin: 3% 5% 0% 5%;
}
.Section_Card div span{
    font-variant: small-caps;
    color: #8f8f8f;
    font-size: medium;
}
.Section_Card ul{
    list-style-type: circle;
    margin: 0% 5% 0% 5%;
    color: #eeeeee;
}
.Background_Container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.BackgroundItem2 {
    grid-row: span 2;
}
.Contenthead > h1 {
    background-image: url("../images/Background_Banner.webp");
    background-color: #01122b57;
    background-repeat: repeat;
    background-size: contain;
}