.BackgroundPage {
    position: absolute;
    top: 50px;
    width: 100%;
    font-size: larger;
}
.BackgroundPage .container{
    margin-top: 1%;
}
/* 1st Div */
.CompanyCard {
    border: 1px solid #00d9ff;
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 3%;
}
/* 2nd Div */
.CompanyCard p{
    border-bottom: 2px solid #00d9ff;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    margin: 2% 10% 2% 10%;
    padding: 5px;
    padding-bottom: 10px;
}
.CompanyCard div{
    font-weight: bold;
    margin: 3% 5% 0% 5%;
}
.CompanyCard div span{
    font-variant: small-caps;
    color: #8f8f8f;
    font-size: medium;
}
.CompanyCard ul{
    list-style-type: circle;
    margin: 0% 5% 0% 5%;
    color: #eeeeee;
}
.Background_Container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.BackgroundItem2 {
    grid-row: span 2;
}